.book{
    display: flex;
    padding-left: 2px;
    margin: 100px;
   
}
.book img{
    width: 500px;
}
.bookColor{
    color: blue;
}
.btn{
    background-color: azure;
    color: blue;
}
.home-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    margin:30px 30px;
}
.button{
    margin-bottom: 20px;
}